@use './mixin' as *;



$black: #323232;
$darkblack: #000000;
$white: #FFFFFF;
$silver: #AFAFAF;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1280px;

@font-face {
    font-family: nunito-regular;
    src: url(/assets/fonts/NunitoSans-Regular.woff);
    }
@font-face {
        font-family: nunito-bold;
        src: url(/assets/fonts/NunitoSans-Bold.woff);
    }
@font-face {
    font-family: nunito-medium;
    src: url(/assets/fonts/NunitoSans-Medium.woff);
}

*{
    box-sizing: border-box;   
} 

body, h1, h2, h3, p{
    margin: 0;
}

a {
    text-decoration: none;
    color: $mercury;
}




.navbar {
    background-color: $black;

    &__logo {
        width: 120px;
        padding-top: 16px;
        display: block;
        margin: auto;
    }

    .navbar-menu {
        .navbar-menu__list {
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 16px 0;
            color: $mercury;
            font-family: nunito-regular;
            font-size: 14px;
            margin: 0;
            width: 100%;
            padding-bottom: 0;
        }

        .navbar-menu__link {
            color: $white;
        }

        .navbar-menu__list-item {
            text-align: center;
            width: 50%;

            &--active {
                border-bottom: 5px solid #fff;
                padding-bottom: 16px;
            }
        }

        .navbar-menu__list-item:hover {
            border-bottom: 5px solid #fff;
        }
    }
}

// Tablet View
@include tablet {
    .navbar {
        display: flex;
        align-items: center;
        padding: 0 36px;

        &__logo {
            width: 120px;
            padding-top: 0;
            margin-right: 64px;
        }
    }

    .navbar-menu__list {
        padding: 16px 0 0;
    }

    .navbar-menu__list-item {
        padding-top: 4px;
        margin-right: 36px;
    }
}

// Desktop View
@include desktop {
    .navbar {
        padding: 0 120px;

        &__logo {
            margin-right: 40px;
        }
    }
}
