@use './mixin' as *;



$black: #323232;
$darkblack: #000000;
$white: #FFFFFF;
$silver: #AFAFAF;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1280px;

@font-face {
    font-family: nunito-regular;
    src: url(/assets/fonts/NunitoSans-Regular.woff);
    }
@font-face {
        font-family: nunito-bold;
        src: url(/assets/fonts/NunitoSans-Bold.woff);
    }
@font-face {
    font-family: nunito-medium;
    src: url(/assets/fonts/NunitoSans-Medium.woff);
}

*{
    box-sizing: border-box;   
} 

body, h1, h2, h3, p{
    margin: 0;
}

a {
    text-decoration: none;
    color: $mercury;
}



// Navbar
.navbar {
    background-color: $black;

    &__logo {
        width: 120px;
        padding-top: 16px;
        display: block;
        margin: auto;
    }

    .navbar-menu {
        .navbar-menu__list {
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 16px 0;
            color: $mercury;
            font-family: nunito-regular;
            font-size: 14px;
            margin: 0;
            width: 100%;
            padding-bottom: 0;
        }

        .navbar-menu__link {
            color: $white;
        }

        .navbar-menu__list-item {
            text-align: center;
            width: 50%;

            &--active {
                border-bottom: 5px solid #fff;
                padding-bottom: 16px;
            }
        }

        .navbar-menu__list-item:hover {
            border-bottom: 5px solid #fff;
        }
    }
}

// Tablet View for Navbar
@include tablet {
    .navbar {
        display: flex;
        align-items: center;
        padding: 0 36px;

        &__logo {
            width: 120px;
            padding-top: 0;
            margin-right: 64px;
        }
    }

    .navbar-menu__list {
        padding: 16px 0 0;
    }

    .navbar-menu__list-item {
        padding-top: 4px;
        margin-right: 36px;
    }
}

// Desktop View for Navbar
@include desktop {
    .navbar {
        padding: 0 120px;

        &__logo {
            margin-right: 40px;
        }
    }
}








// Footer
.footer {
    background-color: $black;
    color: $white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    padding-top: 32px;

    &__social {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &-icon {
            margin-right: 28px;
            width: 32px;
            height: 32px;
        }
    }

    &__title {
        font-family: nunito-medium;
        font-size: 24px;
        margin-bottom: 24px;
    }

    &__contacts {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        margin-top: 24px;
    }

    &__brand {
        margin-top: 48px;

        &-logo {
            display: block;
            width: 120px;
        }
    }

    &__copyright {
        margin-top: 24px;
        font-family: nunito-regular;
        font-size: 13px;
    }

    &__hidden {
        display: none;
    }
}

.contact {
    font-family: nunito-regular;
    font-size: 13px;

    &__name {
        font-family: nunito-bold;
        margin-bottom: 24px;
    }

    &__email {
        font-family: nunito-regular;
        margin-top: 24px;
    }
}

// Tablet Styles for Footer
@include tablet {
    .footer {
        padding: 36px;

        &__title {
            font-size: 36px;
            line-height: 44px;
        }

        &__social {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 36px;
        }

        &__icons {
            margin-left: 48px;
        }

        &__contacts {
            gap: 48px;
        }

        &__brand {
            display: none;
        }

        &__hidden {
            display: flex;
            margin-left: 4vw;
        }
    }

    .contact-agent {
        font-size: 14px;
        line-height: 20px;
    }
}

// Desktop Styles for Footer
@include desktop {
    .footer {
        padding: 36px 120px;

        &__contacts {
            gap: 64px;
        }

        &__brand {
            margin-top: 64px;
        }

        &__hidden {
            margin-left: 28vw;
        }
    }
}
